{% extends 'base.html' %}

{% block content %}
{% from "macro.html" import render_field %}
<div class="container">
    <form method='POST' class="text-center">
        <input type="hidden" name='csrf_token' value='{{csrf_token()}}'>
        <div>{{ render_field(field.atividade, class="form-control")}}</div>
        <div>{{ render_field(field.descricao, class="form-control")}}</div>

        <button type='submit' class="btn btn-primary">
            Enviar
        </button>

        <!--Colocar check box dos eixos, fases e startups-->
    </form>
</div>
{% endblock %}