{% extends 'base.html' %}

{% block content %}
<div class="container">

    <div class="form-group col-md-4">
        <label>Empresa</label>
        <input class="form-control" type="text" disabled="disabled" value="{{ itens['empresa'] }}"></input>
    </div>

    <div class="form-group col-md-4">
        <label>Descrição</label>
        <input class="form-control" type="text" disabled="disabled" value="{{ itens['descricao'] }}"></input>
    </div>

    <div class="form-group col-md-4">
        <label>Valor do Grafico</label>
        <input class="form-control" type="text" disabled="disabled" value="{{ itens['valorF'] }}"></input>
    </div>

    

    <div class="btn-group">
        {% for fase in fases %}
        <button name="{{fase['fase']}}" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{fase['fase']}}
        </button>
       
        
        <div class="dropdown-menu">
            {% for eixo in eixos %}
            <a class="dropdown-item" href="/atividades_startup/{{ itens['_id'] }}/{{fase['fase']}}/{{eixo['eixo']}}" class="btn btn-primary btn-sm">{{eixo['eixo']}}</a>
            {% endfor %}
        </div>
        
        {% endfor %}
    </div>

    

</div>
{% endblock %}