{% extends 'base.html' %}

{% block content %}
<div>
    <h1>Texto da pagina pagEmpresas.html {{pagEmpresa}}</h1>
</div>

<style type="text/css">
    #bordaredonda{
        border-radius: 10px;
        }
    
    </style>

<tbody>

    <div class="container">
        <div style='padding-bottom: 1cm; padding-top: 1cm;'>
            <a class="btn btn-primary btn-sm" href="cadEmpresa" role="button">Cadastrar Empresa</a>
        </div>
        <table class="table table-striped table-dark" id="bordaredonda">

            <tbody>
                <thead>
                    <tr>
                        <th scope="col">Startups</th>
                        <th scope="col">Descrição</th>
                        <th scope="col">Porcentagem do Avanço</th> <!-- valorF-->
                        <th scope="col">Opções</th>
                    </tr>

                </thead>
                
                {% for item in itens%}
                <table class="table table-striped table-dark" id="bordaredonda">

                    <tr>

                        <td>{{ item['empresa'] }}</td>
                        <td>{{ item['descricao'] }}</td>
                        <td>{{ item['valorF'] }}</td>
                        <td >
                            <a href="/deletar_empresa/{{ item['_id']}}" class="btn btn-primary btn-sm">
                                <span class="fa fa-trash" aria-hidden="true"></span>
                                <span><strong>Deletar</strong></span>
                            </a>

                            <a href="/alterar_empresa/{{ item['_id']}}" class="btn btn-primary btn-sm">
                                <span class="fa fa-trash" aria-hidden="true"></span>
                                <span><strong>Alterar</strong></span>
                            </a>
                        </td>

                    </tr>

                </table>
            </tbody>
        </table>

    </container>
    {%endfor%}


</tbody>




{% endblock %}