<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/stylepainel.css') }}"> -->

    <title>PMI Elcimar</title>
</head>

<body>
    <!-- MENU-->

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">PMI Elcimar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <!--active-->
                    <a class="nav-link" href="painel">Painel </a>
                    <!--<span class="sr-only">(current)</span>-->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="pagEmpresa">Startups</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="pagFases">Fases</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="pagEixos">Eixos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="pagAtividades">Atividades</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>

            </ul>
        </div>
    </nav>
    <!-- MENU-->

    </div>
    <style>
        .container .row .col .chart {
            position: relative;
            width: 180px;
            height: 180px;
            margin: 0 auto;
            text-align: center;
            font-size: 30px;
            line-height: 180px;
            color: rgb(0, 0, 0);

        }

        .container .row .col canvas {
            position: absolute;
            top: 0;
            left: 0;
        }
    </style>
    <div class="container">
        <div class="row">
            {% for item in itens%}
            <div class="col">
                <div class="chart" data-percent="{{ item['valorF'] }}">{{ item['empresa'] }}</div>
            </div>
            {%endfor%}
        </div>
    </div>

    <!--
    <div class="container">

        <div class="box">
            <div class="chart" data-percent="73">73%</div>
            <h2>HTML</h2>
        </div>

        <div class="box">
            <div class="chart" data-percent="90">90%</div>
            <h2>CSS</h2>
        </div>

        <div class="box">
            <div class="chart" data-percent="20">20%</div>
            <h2>JS</h2>
        </div>

        <div class="box">
            <div class="chart" data-percent="30">30%</div>
            <h2>PhotoShop</h2>
        </div>

    </div>
-->
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="../static/js/jquery.easypiechart.js"></script>

    <script>
        $(function () {
            $('.chart').easyPieChart({
                size: 180,
                barColor: '#007bff',
                scaleColor: false,
                lineWidth: 15,
                trackColor: '#373737',
                animate: 2000 //Duração da animação

            });
        });
    </script>
</body>

</html>